.navbar-container {
    width: 100%;
    height: 80px;
    background: white;
    border-bottom: 3px solid #e3e3e3;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

    .logo img {
        width: 50px;
    }

.nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

    .nav-link:hover {
        color: #7cc580;
    }

.navbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.cart-button img {
    width: 35px;
    cursor: pointer;
}

.login-button {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

    .login-button img {
        width: 30px;
    }

/* DROPDOWN DO USUÁRIO */
.user-dropdown {
    position: relative;
    cursor: pointer;
}

.user-icon img {
    width: 40px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 60px;
    width: 230px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid #e3e3e3;
    display: none;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.user-dropdown:hover .dropdown-menu {
    display: flex;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.dropdown-item {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.logout {
    color: red;
}
