@{
    ViewData["Title"] = "Cardápio";
}

<link href="~/css/Catalogo.css" rel="stylesheet" />

<video autoplay loop muted playsinline class="bg-video">
        <source src="~/" type="video/mp4" />
</video>

<div class="catalog-container">

    <!-- Seção de Produtos -->
    <h3 class="subtitulo mt-4">PRATOS</h3>
    <div class="produtos-container">
        <div class="card-produto">
            <div class="img-wrap">
                <img src="~/img/.jpg" alt="" />
            </div>
            <div class="content">
                <h4></h4>
                <p>Biblioteca quase ilimitada de entreterimento</p>
                <span class="preco">R$ 67,00</span>
            </div>
        </div>


        <div class="card-produto">
            <div class="img-wrap">
                <img src="~/img/cachorro2.jpg" alt="Coleira" />
            </div>
            <div class="content">
                <h4>Tenis</h4>
                <p>Conforto e estilo</p>
                <span class="preco">R$ 90,99</span>
            </div>
        </div>


        <div class="card-produto">
            <div class="img-wrap">
                <img src="~/img/cachorro.jpg" alt="Caminha" />
            </div>
            <div class="content">
                <h4>Pingentes</h4>
                <p>Estilo garantido</p>
                <span class="preco">R$ 20,90</span>
            </div>
        </div>
    </div>
</div>